<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Expenses App" %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/2.0/animate.min.css">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="app">
    
    <%= render 'shared/nav' %>
    
    <div class="row fullWidth" ng-controller="ExpensesCtrl">
      
      <div class="small-1 column no-padding">
        <%= render 'shared/left_bar' %>
      </div>

      <div class="small-11 columns no-padding">
        <% flash.each do |name, msg| -%>
          <div data-alert class="alert-box <%= name %>">
            <%= msg %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
        
        <% unless user_signed_in? %>
          <div class="welcome-message text-center">
            <h1>The fastest way of keep track of your expenses!</h1>
            <p>With Expense Tracker you will enjoy keeping track of your expenses, give it a try is <b>FREE!</b></p>
          </div>
        <% end %>

        <%= yield %>
      </div>

    </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>